= title @lab
= simple_format @lab.description

= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=Barcelona&zoom=14&size=640x240"
= link_to "Directions", "http://maps.google.com/maps?daddr=40.73356779034111,-74.00165319442749", target: '_blank'

= link_to "Edit Lab", edit_lab_path(@lab)
