!!!
%html
  %head
    %title= [content_for(:title),'FabLabs.io'].reject(&:blank?).join(' | ')
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{class: "c-#{controller_name} a-#{action_name}"}
    %header
      .container
        .logo
          = link_to root_path do
            = image_tag "fablabs-logo.png"
        %nav.main-nav
          %input{:placeholder => "Search for Labs, Places, People or Machines...", :type => "text"}
          = link_to "Labs", labs_path
          = link_to "Users", users_path
          = link_to "Events", events_path
        %nav.user-nav
          - if current_user
            = current_user
            %ul
              - if current_user.is_superadmin?
                %li= link_to("Backstage", backstage_root_path, target: '_blank')
              %li= link_to "Submissions #{current_user.submissions.with_new_state.count}", submissions_path
              %li= link_to "Settings", edit_user_path(current_user)
              %li= link_to "Log out", logout_path
          - else
            = link_to "Join", join_path
            or
            = link_to "Log in", login_path
    .container
      - flash.each do |key, value|
        = content_tag :div, value, class: "flash #{key}"
    #main
      .container= yield
